@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --color-dark-200: #475467;
  --color-light-blue-100: #c1d3f81a;
  --color-light-blue-200: #a7bff14d;
}
@theme inline {
  --color-primary: #f1b300;
}

html,
body {
  @apply bg-white;
}

body {
  @apply min-h-screen;
  /* background: url(./assets/images/bg.svg); */
  background-color: #0c0c0c;
  background-size: cover;
  background-position: center;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded;
}
p {
  @apply text-gray-200;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .container {
    @apply px-4 w-full max-w-full;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
}
button {
  @apply cursor-pointer;
}

/* input {
  @apply w-full p-4 inset-shadow rounded-2xl focus:outline-none bg-white;
}

textarea {
  @apply w-full p-4 inset-shadow rounded-2xl focus:outline-none bg-white;
} */
.animation-slide-top {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.download-heading {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  @apply text-primary font-bold;
}
@utility gradient-hover {
  @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200;
}

@utility primary-gradient {
  background: linear-gradient(to bottom, #ffea01, #f1b300);
  box-shadow: 0px 74px 21px 0px #6678ef00;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

& .slick-list {
  margin: 0 -7px;
  & .slick-slide > div {
    padding: 0 10px;
  }
}
