@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark-200: #475467;
  --color-light-blue-100: #c1d3f81a;
  --color-light-blue-200: #a7bff14d;
}
@theme inline {
  --color-primary: #717dff;
}

html,
body {
  @apply bg-white;
}

body {
  @apply min-h-screen;
  background: url(./assets/images/bg.svg);
  background-size: cover;
  background-position: center;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded;
}
p {
  @apply text-dark-200;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .container {
    @apply px-4 w-full max-w-full;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
}
button {
  @apply cursor-pointer;
}
footer {
  background: url(./assets/images/footer-bg.svg);
  background-size: cover;
}
/* input {
  @apply w-full p-4 inset-shadow rounded-2xl focus:outline-none bg-white;
}

textarea {
  @apply w-full p-4 inset-shadow rounded-2xl focus:outline-none bg-white;
} */
.animation-slide-top {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* @layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5];
  }
  .gradient-border {
    @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200 p-4 rounded-2xl;
  }
  .primary-button {
    @apply primary-gradient text-white rounded-full px-4 py-2 cursor-pointer w-full;
  }
  .resume-nav {
    @apply flex flex-row justify-between items-center p-4 border-b border-gray-200;
  }
  .resume-summary {
    @apply flex flex-row items-center justify-center p-4 gap-4;
    .category {
      @apply flex flex-row gap-2 items-center bg-gray-50 rounded-2xl p-4 w-full justify-between;
    }
  }
} */
.card:before {
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card:hover:before {
  transform: scale(34);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.card:hover :is(h3, p) {
  @apply text-white;
}
.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}
/* @utility bg-gradient {
  background: linear-gradient(to bottom, #f0f4ff 60%, #fa7185cc);
}
 */
/* @utility text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5];
} */
.download-heading {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  @apply text-primary font-bold;
}
@utility gradient-hover {
  @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200;
}

@utility primary-gradient {
  background: linear-gradient(to bottom, #8e98ff, #606beb);
  box-shadow: 0px 74px 21px 0px #6678ef00;
}

/* @utility primary-gradient-hover {
  background: linear-gradient(to bottom, #717dff, #4957eb);
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

& .slick-list {
  margin: 0 -7px;
  & .slick-slide > div {
    padding: 0 10px;
  }
}
